@font-face {
	font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed Oblique';
	src: url(../../assets/fonts/ITCAvantGardeStdXLtCnObl.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}