@font-face {
	font-family: 'ITC Avant Garde Gothic Std Demi Condensed Oblique';
	src: url(../../assets/fonts/ITCAvantGardeStdDemiCnObl.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}